{% extends '@App/layout.html.twig' %}

{% block body %}
<div class="col-md-12">
    <h1 class="featurette-heading">Page not found</h1>

    <p class="alert alert-danger">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
