{% extends '@App/layout.html.twig' %}

{% block body %}
<div class="col-md-12">
    <h1 class="featurette-heading">Error on page</h1>

    <p class="alert alert-danger">
        Error status {{ status_code }}
        <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
