{% extends '@App/main.html.twig' %}

{% block title %}{{ parent() }}- Ошибка на странице{% endblock %}

{% block body %}
<div class="col-md-12">
    <h1 class="featurette-heading">Ошибка на странице</h1>

    <p class="alert alert-danger">
        Статус ошибки {{ status_code }}
        <a href="{{ path('homepage') }}">вернуться на главную</a>.
    </p>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
