{% extends '@App/base.html.twig' %}

{% block body %}
	  <div id="root"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('/bundles/app/static/js/main.11477a9d.js') }}"></script>
{% endblock %}

